/* *{
  border:1px solid gold;
} */
button{
    background-color: ghostwhite;
    transition: 2s;
}
Button:hover{
    background-color: cornflowerblue;
    color: white;
}

.caption >div{
  width: 100%;
  margin:auto;
  text-align: center;
}
.caption h1 {
  margin-top: -40px;
  text-align: left;
  color:white;
  
}
.caption p {
  text-align: left;
  color:white;

}
.caption-anim{
  margin: auto;
  width: 80%;
  text-align: center;
}
.caption:hover .caption-anim >h1{
  animation-name: caption_pos;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.caption:hover .caption-anim{
  animation-name: caption_pos;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes caption_pos{
    from {position:relative; transform: translateY(0%)}
    to { position:relative; transform: translateY(-650%) }
}